body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

.canvas {
	height: 100vh !important;
}

.hint {
	position: fixed;
	z-index: 2;
	bottom: 10px;
	left: 50%;
	text-transform: uppercase;
	font-size: 12px;
	transform: translate(-50%);
	padding: 10px 20px;
	text-align: center;
	font-family: sans-serif;
	background: rgba(255, 0, 0, 0.1);
	border-radius: 10px;
}
